@mixin font ($size, $height, $weight: 400, $style: normal){
    font-size: $size;
    font-style: $style;
    font-weight: $weight;
    line-height: $height;
}


@mixin media-desktop{
    @media (max-width: calc($width-desktop - 1px)) {
        @content;
    }
}


@mixin media-tablet{
    @media (max-width: calc($width-tablet - 1px)) {
        @content;
    }
}

@mixin media-mobile{
    @media (max-width: $width-mobile) {
        @content;
    }
}