.footer{
     background: url("../../assets/images/noise_transparent@2x.png"), $footer-gradient-background;
     &__info{
          color: $color-primary;
     }
     &__article{
          padding-top: 16px;
          color: $color-light-xl;
          span{
               display: block;
               @include media-tablet{
                    display: inline;
               }
          }
          @include media-tablet{
               text-align: center;
               max-width: 270px;
          }
     }
     &__wrapper{
          display: flex;
          justify-content: space-between;
          padding-top: 30px;
               @include media-desktop{
                    flex-direction: column;
                    align-items: center;
               }
               @include media-tablet{
                    max-width: 300px;
               }
     }
     &__image{
          width: 300px;
          height: 310px;
          @include media-tablet{
               max-width: 260px;
               height: 269px;
          }
     }
     &__details {
          margin-top: 40px;
          display: flex;
          align-items: center;
          span{
               display: block;
          }
          @include media-tablet{

               @include font($size:2rem, $height:2.3rem);
           }
     }
     &__icon{
          margin-right: 20px;
     }
     &__line{
          display: block;
     }
     &__navigation{
          display: flex;
          justify-content: space-between;
          max-width: 740px;
          width: 100%;
          @include media-desktop{
               margin-bottom: 65px;
               justify-content: space-evenly;
          }
          @include media-tablet{
               flex-direction: column;
               align-items: center;
          }
     }
}

.phone_icon{
     display: inline-block;
     width: 40px;
     height: 32px;
     background: url("../../assets/svg/icon-phone.svg")
}

.email_icon{
     display: inline-block;
     width: 40px;
     height: 32px;
     background: url("../../assets/svg/icon-email.svg")
}

.marker_icon{
     display: inline-block;
     width: 22px;
     height: 32px;
     background: url("../../assets/svg/icon-marker.svg")
}