body{
    margin: 0 auto;
}
.start_screen{
    background: url("../../assets/images/noise_transparent@2x.png"), $start-screen-gradient-background;
}

.main {
    &__section {
        padding-top: 80px;  
        padding-bottom: 100px;
    }
    &__our_friends{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__slider{
        max-width: 1200px;
        width: 100%;
        margin: 60px 0 57px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__donation{
        background-color: $color-light-l;
        display: flex;
    }
}

.slider{
    overflow: hidden;
}