.wrapper{
    margin: 0 auto;
    max-width: calc($width-desktop - 80px);


    @include media-tablet{
        max-width: calc($width-tablet - 20px);
    }

    @include media-mobile{
        max-width: calc($width-mobile - 20px);
    }
}

.make_friend__wrapper{
    display: flex;
    justify-content: space-between;

    @include media-desktop{
        flex-direction: column;
        align-items: center;
    }
}