.wrapper{
    margin: 0 auto;
    max-width: calc($width-desktop - 80px);
    @include media-tablet{
        max-width: calc($width-tablet - 20px);
    }
}

.make_friend__wrapper{
    display: flex;
    justify-content: space-between;
}