.burger_menu{
        width: 30px;
        height: 26px;
        display: none;
        @include media-tablet{
            cursor: pointer;
            display: block;
        }
}

.burger_line{
    width: inherit;
    height: 2px;
    background-color: $color-primary;
    &::before{
        content: "";
        display: block;
        position: relative;
        top: 10px;
        background-color: inherit;
        width: inherit;
        height: inherit;
    }
    &::after{
        content: "";
        display: block;
        position: relative;
        top: 18px;
        background-color: inherit;
        width: inherit;
        height: inherit;
    }
}