.burger_menu{
        width: 30px;
        display: none;
        @include media-mobile{
            display: block;
        }
}

.burger_line{
    width: inherit;
    height: 2px;
    background-color: $color-primary;
    &::before{
        content: "";
        display: block;
        position: relative;
        bottom: 8px;
        background-color: inherit;
        width: inherit;
        height: inherit;
    }
    &::after{
        content: "";
        display: block;
        position: relative;
        top: 8px;
        background-color: inherit;
        width: inherit;
        height: inherit;
    }
}