.card__wrapper{
    position: relative;
    display: flex;
    max-width: 990px;
    left: calc(-990px - 90px);
    // justify-content: center;
    column-gap: 90px;
    @extend %transition-time;
    @include media-desktop{
        max-width: 580px;
        column-gap: 40px;
        left: calc(-580px - 40px);
    }
    @include media-tablet{
        max-width: 270px;
        left: calc(-270px - 40px);
    }
}

.card__bundle{
    display: flex;
    column-gap: 90px;
    @include media-desktop{
        column-gap: 40px;
        max-width: 580px;
    }
    @include media-tablet{
        max-width: 270px;
    }
}

.pet_card{
    width: 270px;
    background-color: $color-light-s;
    @extend %transition-time;
    border-radius: 9px;
    cursor: pointer;


    &:hover{
        background-color: $color-light-xl;
        box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
        .card{
            &__button{
                background-color: $color-primary-light;
            }
        }
    }
    
    .card{
        &__image{
            width: inherit;
        }
        &__details{
            text-align: center;
        }
        &__name{
            display: block;
            margin: 20px 0 30px 0;
            @extend %font-secondary;
            color: $color-dark-l;
            @include font($size: 2rem, $height: 2.2rem);
            letter-spacing: 0.06em;
        }

        &__button{
            padding: 15px 45px;
            margin-bottom: 30px;
        }
    }
    &--pets_page{
        margin: 0;
    }
}


@keyframes move-left {
    from{left: calc(-990px - 90px)};
    to {left: 0};
}

@keyframes move-right {
    from{left: calc(-990px - 90px)};
    to {left: calc((-990px - 90px) * 2)};
}

.transition-right {
    animation-name: move-right;
    animation-duration: 1s;
  }

.transition-left {
    animation-name: move-left;
    animation-duration: 1s;
  }

@keyframes move-left-tablet {
    from{left: calc(-580px - 40px)};
    to {left: 0};
}

@keyframes move-right-tablet {
    from{ left: calc(-580px - 40px)};
    to {left: calc((-580px - 40px) * 2)};
}

.transition-right-tablet {
    animation-name: move-right-tablet;
    animation-duration: 1s;
  }

.transition-left-tablet {
    animation-name: move-left-tablet;
    animation-duration: 1s;
  }


@keyframes move-left-mobile {
    from{left: calc(-270px - 40px)};
    to {left: 0};
}

@keyframes move-right-mobile {
    from{left: calc(-270px - 40px)};
    to {left: calc((-270px - 40px) * 2)};
}

.transition-right-mobile {
    animation-name: move-right-mobile;
    animation-duration: 1s;
  }

.transition-left-mobile {
    animation-name: move-left-mobile;
    animation-duration: 1s;
  }