.navigation{
    &__table{
        display: flex;

        @include media-tablet{
            display: none;
        }


        &_item{

            margin-right: 35px;
            cursor: pointer;
            &:last-child{
                margin-right: 0px;
            }
            &:hover{
                color: $color-light-s;
            }

            &--active{
                color: $color-light-s;
                border-bottom: 3px $color-primary solid;
            }
        }


        &--mobile{
            flex-direction: column;
            align-items: center;
            margin-top: 158px;
            @include media-tablet{
                display: flex;
            }
            font-size: 32px;
            
            .navigation__table_item{
                margin-right: 0px;
                margin-bottom: 40px;
                
                &--active{
                    color: $color-light-s;
                    border-bottom: none
                }
                .nav__link{
                    &--active{
                        border-bottom: 3px $color-primary solid;
                    }
                }
            }
        }
    }
}

.nav__link{
    color: #CDCDCD;
    &:hover{
        color: $color-light-s;
    }
    &--active{
        color: $color-light-s;
    }
    &--pets{
        color: $color-dark-l;
        &:hover{
            color: $color-dark-3xl;
        }
        &:focus{
            color: $color-dark-3xl;
        }
    }
}