.navigation{
    &__table{
        display: flex;
        &_item{

            margin-right: 35px;
            cursor: pointer;
            &:last-child{
                margin-right: 0px;
            }
            &:hover{
                color: $color-light-s;
            }

            &--active{
                color: $color-light-s;
                border-bottom: 3px $color-primary solid;
            }
        }
    }
}

.nav__link{
    color: #CDCDCD;
    &:hover{
        color: $color-light-s;
    }
    &--active{
        color: $color-light-s;
    }
    &--pets{
        color: $color-dark-l;
        &:hover{
            color: $color-dark-3xl;
        }
        &:focus{
            color: $color-dark-3xl;
        }
    }
}