.make_friend{
    &__article{
        color: $color-light-xl;
        span{
            display: block;
        }

        @include media-tablet{
            text-align: center;
            letter-spacing: 0.06em;
        }
    }
    &__text{
        color: $color-dark-s;
        margin-top: 42px;
        @include media-tablet{
            text-align: center;
        }
    }

    &__text_area{
        max-width: 460px;
        margin-top: 163px;
        @include media-desktop{
            margin-top: 0;
            display: flex;
            flex-direction: column;
            margin-bottom: 100px;
        }
        @include media-tablet{
            align-items: center;
            max-width: 300px;
        }
        @include media-mobile{
            margin-bottom: 105px;
        }
    }

    &__image{
        display: block;
        max-width: 698px;
        width: 100%;
        height: 728px;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("../../assets/images/start-screen-puppy.png");
        background-position: bottom;
        @include media-desktop{
            max-width: 569px;
            max-height: 593px;
            margin-right: 30px;
            align-self: end;
        }
        @include media-tablet{
            max-height: 360px;
        }
        @include media-mobile {
            max-width: 260px;
            max-height: 271px;
            margin-right: 10px;
        }
    }

    &__button{
        width: 207px;
        height: 52px;
        margin-top: 25px;
        letter-spacing: 0.06em;
        @include media-desktop{
            align-self: center;
        }
    }
}

.make_friend__link{
    color: $color-dark-3xl;
}

.rest__link{
    color: $color-dark-3xl;
}