.friends{
    &__article{
        text-align: center;
        margin: 0 auto;
        span{
            display: block;
        }
    }
    
}

.our_friends__button {
    width: 262px;
    padding: 15px 45px;
}

#friends{
    background-color: $color-light-l;
}